
.banner{
	background: #004c9f;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #fff;
	font-size: 10px;
	font-family: 'Concert One', cursive;
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
@media(max-width: 768px){
    .banner{
    padding-top: 2px;
	padding-bottom: 2px;
	font-size: 3px;
    }
}